* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}


header {
    background: #006666;
    height: 40px;
    margin-top: 50px;
    max-width: 1020px;



}

.mm {
    margin-top: 50px;
    align-items: center;
}

.scrh img {
    width: 25px;
    height: 30px;
    padding: 0 auto;
    left: -20px;

}

input {
    width: 270px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 5px;

}

.hr {
    display: flex;
    justify-content: end;
}

.hr a {
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
}

.banner {
    position: relative;
    background-size: cover;
    background-image: url(./assets/image/bb_banner.jpg);

    height: 200px;

}

.menu ul li {
    list-style: none;
    display: inline;
}

.menu {
    position: relative;
    left: 700px;
    width: 620px;
    height: 40px;
    background: rgb(255, 253, 253);
    margin-top: -60px;




}

.menu li a {
    text-decoration: none;

    color: #054588;

    padding: 9px;
    padding-top: 5px;
    font-size: 14px;
}

.slider {
    padding: 20px;
    justify-content: center;
    border: 5px solid gray;
    margin-top: 20px;
}

.person {
    padding: 20px;
    margin-top: 20px;
    justify-content: center;
    padding-left: 20px;
    background: rgb(245, 245, 245);

}

.image img {
    height: 150px;
    width: 150px;
}

h5 {
    background: #00B16A;

}

h6 {
    position: relative;
    top: -140px;
    left: 160px;
}

.info p {
    position: relative;
    top: -140px;
    left: 160px;
    font-size: 13px;
}

.info a {
    position: relative;
    top: -150px;
    left: 160px;
    font-size: 13px;
    text-decoration: none;
}

.m {
    height: 40px;
    width: 130px;
    background: #00B16A;
    font-size: 17px;
    justify-content: center;
    padding: 5px;
    margin-top: 20px;
    border-radius: 10px 0 0 10px;
}

.mn {
    position: relative;
    background: rgb(245, 245, 245);
    bottom: 55px;
    padding: 5px;
    width: 1185px;
    height: 40px;
    left: 130px;
}