/* Responsive part Start */
.header{
        width: 100%;
        background: rgb(247, 59, 59);
    }
    
    .Menu ul li a{
       
        padding-right: 10px;
        font-size: 20px;
    
    }
    .Menu ul li a:hover{
        color: rgb(18, 209, 234);
    }
    
    /*slider part start*/
    .slider{
        width: 100%;
        height: 500px;
       
       
    }
    .slider h1{
        left: 20%;
    }
    .slider p{
        
        left: 26%;
        
    }
    .slider a{
       
        left: 40%;
       
        border: 1px solid tomato;
        
        background: rgb(246, 88, 45);
        
    }
    .slider a:hover{
        background-color: rgb(59, 240, 143);
        
    }
    
    /*slider part end*/
    
    /* Responsive Part End */
     